
 body {
	 font-family: 'Rubik', sans-serif;
	
}

 .container {
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
     background-image: url(https://funart.pro/uploads/posts/2021-04/1618581491_7-funart_pro-p-oboi-fon-gazon-fon-9.jpg);
}
 .love {
	 font-size: 80px;
	 position: relative;
	 display: inline-block;
	 color: #d8d8d8;
	 top: -2px;
	 transition: all ease 0.2s;
	 text-shadow: 0px 4px 6px #d8d8d8;
	 cursor: pointer;
}

 .love::after {
	 content: attr(data-count);
	 position: absolute;
	 top: 2px;
	 right: -6px;
	 margin: auto;
	 font-size: 14px;
	 
	 background-color: #d8d8d8;
	 border-radius: 400px;
	 color: #fff;
	 padding: 4px;
	 font-weight: 600;
	 min-width: 26px;
	 min-height: 26px;
	 text-align: center;
	 line-height: 1.8;
	 transition: all cubic-bezier(0.76, 0.76, 0.05, 0.98) 0.5s;
	 box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
 .love.active {
	 top: 0px;
	 text-shadow: 0px 2px 2px #d8d8d8;
}
 .love.active::after {
	 top: -6px;
}
 .love .up {
	 position: absolute;
	 height: 50px;
	 width: 10px;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 margin: auto;
	 transform: rotate(60deg);
	 opacity: 1;
	 transition: all cubic-bezier(0.76, 0.76, 0.05, 0.98) 0.5s;
	 z-index: -1;
}
 .love .up::after {
	 content: "";
	 position: absolute;
	 left: 0;
	 right: 0;
	 height: 10px;
	 width: 10px;
	 background-color: #070506;
	 bottom: -10px;
	 z-index: -2;
	 border-radius: 200px;
}
 .love .up.rotate {
	 transform: rotate(-180deg);
}
 